<!doctype html>
<html>
    <head>
        <title>La revanche des lettres</title>
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" 
            integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" 
            crossorigin="anonymous">
        <link rel="icon" href="/favicon.svg" />
    </head>
    <body>
        <div class="navbar navbar-dark bg-dark">
            <div class="container">
                <a href="/" class="navbar-brand">
                    <img src="/favicon.svg" alt="favicon">
                    <strong>La revanche des lettres</strong>
                </a>
            </div>
        </div>
        <div class="container">
            <div class="d-flex align-items-center justify-content-center vh-100">
                <div class="text-center">
                    <h1 class="display-1 fw-bold"><%= code %></h1>
                    <p class="lead"><%= error %></p>
                    <a href="/" class="btn btn-primary">Retour à la liste des niveaux</a>
                </div>
            </div>
        </div>
    </body>
</html>